/* Customize your main colors in :root variables */
:root {
  --main-background-color: #FFCE7F;
  --card-background-color: #FCE1C2;
  --card-background-lighter-color: #FFD695;
  --main-text-color:#000000;
  --title-text-color:rgb(0, 0, 0);
}

a{
  color: white; text-decoration: none;
}

body{
  background-color:var(--main-background-color);
  /*background: url("img/background.png");
  background-size: cover;*/

  font-family: 'Press Start 2P', cursive;
  font-size: 1.1em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}

.MuiFab-extended{
  height: auto;
  padding-right: 0 !important;
}

.MuiFab-label{
  font-weight: bold;
}

.MuiPaper-root{
  background-color: #000000 !important;
}

.MuiButton-containedPrimary:not(.MuiButton-fullWidth) {
  border-radius: 24px !important;
  -webkit-border-radius: 24px !important;
  -moz-border-radius: 24px !important;
  -ms-border-radius: 24px !important;
  -o-border-radius: 24px !important;
  padding: 6px 16px;
}

.MuiButton-label{
  font-size: 1.2em;
}

.MuiLinearProgress-colorPrimary{
  background-color:var(--main-text-color) !important;
}